services:
  backend:
    build:
      context: ./src/backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=sqlite:///./test.db
    networks:
      - app-network

  frontend:
    build:
      context: ./src/frontend
      dockerfile: Dockerfile
    ports:
      - "5003:5003"
    environment:
      - BACKEND_URL=http://backend:8000
    networks:
      - app-network
    depends_on:
      - backend


networks:
  app-network:
    driver: bridge
