# Staging environment values (Azure AKS - Pre-Prod)
global:
  namespace: sales-fulfillment-stage

backend:
  replicaCount: 2
  image:
    repository: acra10corpsales.azurecr.io/sales-backend
    pullPolicy: Always
    tag: "latest"

frontend:
  replicaCount: 2
  image:
    repository: acra10corpsales.azurecr.io/sales-frontend
    pullPolicy: Always
    tag: "latest"
  service:
    type: LoadBalancer
  env:
    liveReload: "false"
