apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: sales-fulfillment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: a10-frontend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5003
        env:
        - name: BACKEND_URL
          value: "http://backend.sales-fulfillment.svc.cluster.local"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: sales-fulfillment
spec:
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 5003
    name: http
